body {
  height: 100vh;
  width: 100vw;
  background: url(https://source.unsplash.com/jokxn-4kogA) center/cover
    no-repeat;
}
h1 {
  text-align: center;
  color: aqua;
}
form {
  position: relative;
  top: 10vh;
  max-width: 450px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
input {
  color: aqua;
  text-shadow: 2px 2px 1px #333;
}
li {
  color: aqua;
  width: 100%;
  background-color: rgba(218, 212, 212, 0.2);
  font-size: 1.8rem;
  text-shadow: 2px 2px 1px #333;
  text-align: center;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  border: 1px solid aqua;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 2px rgba(11, 60, 66, 0.6);
  transition: 0.3s linear;
}

li:hover {
  background-color: rgba(218, 212, 212, 0.4);
  transition: 0.3s linear;
  cursor: pointer;
}
.task-list li.completed {
  color: greenyellow;
}

label{
  font-size: 20px;
}

#General_Buttons{
  font-size: 10px;
}
